.intro {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 148px;
}

@media screen and (max-width: 1150px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 550px) {
  .intro {
    padding: 0 16px;
  }
}
