.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
}

@media screen and (max-width: 720px) {
  .cover__title {
    font-size: 52px;
    line-height: 56px;
    padding: 0 24px 32px;
  }
}

@media screen and (max-width: 550px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px 16px;
  }
}
